<div class="main-register-container">
    <div class="newCustomer">
        <div class="customer">
            <h5>NEW CUSTOMERS</h5>
            <p>Field Day Test Partners with <span>Field Day</span> to provide online registration. Your online account allows you to do the following and much more:</p>
            <ul>
                <li>- Track Orders, Refunds & Tax.</li>
                <li>- Get Notified and Stay Engaged.</li>
                <li>- Quick Checkout with Profile.</li>
            </ul>
        </div>
        <div class="createButton">
            <button>Create My Account</button>
        </div>
    </div>

    <div class="newCustomer registerUser">
        <div class="register">
            <h5>REGISTERED USER</h5>
            <p>Field Day Test partners with <span>Field Day</span> to provide online registration. In case you have made a purchase at another <span>Field Day</span> Partner, please sign in using your account credentials.</p>
            <b>Welcome Back! Sign In Now.</b>
        </div>
        <div class="signInButton">
            <button (click)="openDialogRegisterSignIn()" mat-dialog-close>Sign In</button>
        </div>
    </div>
</div>