<div class="signInMain">
  <div class="socialLogin">
    <img src="../../../../assets/images/icon-big.png" alt="" />
    <p class="yourP"><small>Your account is managed and powered by <span>Field Day</span></small></p>

    <div class="socialButton">
      <button class="facebook">Login With Facebook</button>
      <button class="google">Login With Google</button>
    </div>
    <div class="signUpText">
      <p>Don't have an account? <a href="#">Sign Up Now!</a></p>
    </div>
  </div>

  <div class="manualLogin">
    <div class="manaulLogin">
      <h4>Sign in Manually</h4>
    </div>
    <div class="loginForm">
      <div class="inputField">
        <div class="username d-flex">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          <input type="text" class="emailId" />
        </div>
        <div class="password">
      <input type="password" class="emailId"/>

        </div>
      </div>
      <div class="captcha"></div>
      <div class="remember-forget d-flex">
        <div >
          <input type="checkbox" value="Bike" id="remember" class="mr-2" />
          <label for="remember">Remember Me</label>
        </div>
        <div class="forgetPassword">
            <p>Forget Password</p>
        </div>

      </div>
      
    </div>
    <div class="loginBtn">
      <button>Login</button>
    </div>
  </div>
  
</div>
