
    <footer class="footer">
        <div class="row list-item-sec">
            <div class="col-md-4">
                <a href="/">
                    <img class="avatar-60 m-b-20" src="../../../../assets/images/white_logo.png">
                </a>
                <div class="m-b-10"><b>Address: </b><span>98838 W Bellseview Ave Denver,<br>Cso 805123</span></div>
                <div class="m-b-10"><b>Phone: </b><span>766-3656-0563</span></div>
                <div><b>Email: </b><span>support@activityhub.com</span></div>
            </div>
            <div class="col-md-4">
                <mat-nav-list >
                    <mat-list-item class="heading-text m-b-15"> Get to know us </mat-list-item>
                    <a mat-list-item> About ActivityHub </a>
                    <a mat-list-item > Our apps </a>
                    <a mat-list-item> Our blogs </a>
                    <a mat-list-item> Careers </a>
                    <a mat-list-item>Investor relations </a>
                    <a mat-list-item> News</a>
                 </mat-nav-list>
            </div>
            <div class="col-md-4">
                <mat-nav-list >
                    <mat-list-item class="heading-text m-b-15"> Connect with us </mat-list-item>
                    <a mat-list-item href=""> Facebook </a>
                    <a mat-list-item href=""> Twitter </a>
                    <a mat-list-item href=""> Instagram</a>
                    <a mat-list-item href=""> YouTube</a>
                 </mat-nav-list>
            </div>
        </div>
        <div class="copy-right-sec">
            <mat-icon matPrefix>copyright</mat-icon> {{getcurrentYear()}} ActivityHub All rights reserved.
        </div>
    </footer>


