<h2 mat-dialog-title>MEDICATION ALLERGIES</h2>
<form [formGroup]="medicationEllergies">
    <mat-dialog-content class="mat-typography">
            <div class="row">
                <div class="col-md-12">
                    <mat-checkbox (change)="selectNone($event)" formControlName="none" matInput class="checkbox">None</mat-checkbox>
                </div>
                <div class="col-md-3">
                    <mat-checkbox matInput [disabled]="isNoneSected" formControlName="penicillin" class="checkbox">Penicillin</mat-checkbox>
                </div>
                <div class="col-md-12"> 
                    <mat-checkbox (change)="selectAdditional($event)" matInput [disabled]="isNoneSected" class="checkbox">Other</mat-checkbox>
                </div>
                <div *ngIf="showAdditional" class="col-md-12">
                    <mat-form-field class="full-width">
                        <input matInput placeholder="additional Specifics"  formControlName="additionalSpecifics">
                    </mat-form-field>
                </div>
            </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button color="basic" mat-raised-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" (click)="save()" cdkFocusInitial>Save</button>
    </mat-dialog-actions>
</form>       